新規お題

<%= form_with(model: @theme, local:true) do |form| %>
  <h3>お題の作成</h3>
  <%= form.text_field :title, placeholder: "お題を入力してね"%>
  <%= form.text_field :image, placeholder: "Image Url" %>
  <%= form.text_field :answer1, placeholder: "選択肢１を入力してね"%>
  <%= form.text_field :answer2, placeholder: "選択肢２を入力してね"%>
  <%= form.select :genre, [["生活", 0], ["教養・文化", 1], ["仕事", 2], ["恋愛・性", 3], ["宗教", 4], ["娯楽", 5]]%>
  <%= form.submit "投稿する"%>
<% end %>