<div class="main-contents">
  <div class="answer-area">
    <div class="answer-title">
      お題に答える・お題を探す
    </div>
    <div class="answer-start">
      <div class="answer-guide">
        <div class="answer-guide__message">
          2択で出題されるお題に直感で答えてください。
        </div>
        <div class="answer-guide__message">
          あなたは多数派？少数派？
        </div>
      </div>
      <div class="answer-link">
        <%= link_to 'いますぐ回答する' , new_answer_path %>
      </div>
    </div>
    <div class="answer-search">
      <%= form_with(url: search_themes_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "検索したいワードを入力", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>
    </div>
  </div>

  <div class="theme-area">
    <div class="theme-post">
      お題を投稿する
    </div>
    <div class="theme-start">
      <div class="theme-guide">
        <div class="theme-guide__message">
          あなたが気になるお題を投稿してみましょう。あなたの意見はみんなと同じ？
        </div>
        <div class="theme-guide__message">
          ※ログインが必要です
        </div>
      </div>
      <div class="theme-link">
        <%= link_to 'お題を投稿する' , new_theme_path %>
      </div>
    </div>
  </div>
</div>