<div class="user-head">
  ユーザー情報更新
</div>

<div class="edit-contents">
  <%= form_with(model:@user, local:true) do |form| %>
    <div class="edit-username">
      <%=form.label :name, "ユーザー名", class:"edit-username__label" %>
      <%=form.text_field :name, placeholder: "指名を入力", default: @user.name, class:"edit-username__form" %>
    </div>
    
      <%= form.label :image, class:'Form_inputBox'%>
      <%= form.file_field :image %>

    <div class="edit-sex">
      <%=form.label :sex, "性別", class:"edit-sex__label"%>
      <div class="edit-sex__form">
        <%= form.select :sex, [["未回答", 0], ["男性", 1],["女性", 2]] %>
      </div>
    </div>
    <div class="edit-age">
      <%=form.label :age, "年齢", class:"edit-age__label" %>
      <%=form.number_field :age, placeholder: "年齢を入力", default: @user.age, class:"edit-age__form" %>
    </div>
    <div class="edit-region">
      <%=form.label :region, "地域", class:"edit-region__label" %>
      <div class="edit-region__form">
        <%=form.select :region, [["北海道", 0], ["青森", 1], ["岩手", 2]]%>
      </div>
    </div>
    <div class="edit-job">
      <%=form.label :job, "職業", class:"edit-job__label" %>
      <div class="edit-job__form">
        <%=form.select :job, [["会社員", 0], ["自営業", 1], ["フリー", 2], ["学生", 3], ["その他", 4]]%>
      </div>
    </div>
    <div class="submit-btn">
      <%=form.submit "更新する"%>
    </div>
  <% end %>
</div>