<div class="answer-contents">
	<div class="answer-head">
  	お題に回答する
	</div>
  <%= form_with(model:@answer, local:true) do |form| %>
    <div class="theme-id">
			<div class="theme-id__info">
				お題ID
			</div>
			<%=form.text_field :theme_id, value: @theme.id, readonly: true, class: "theme-id__box"%>
    </div>
		<div class="theme-title">
			<div class="theme-title__info">
      	お題：
    	</div>
			<div class="theme-title__body">
      	<%= @theme.title %>
    	</div>
			<div class="theme-title__genre">
				<% if @theme.genre == 0 %>
					生活
				<% elsif @theme.genre == 1 %>
					教養・文化
				<% elsif @theme.genre == 2 %>
					仕事
				<% elsif @theme.genre == 3 %>
					恋愛・性
				<% elsif @theme.genre == 4 %>
					宗教
				<% elsif @theme.genre == 5 %>
					趣味・娯楽
				<%end%>
			</div>
			<div class="theme-image">
				<%= image_tag @theme.image.url %>
			</div>

		</div>
		
		<div class="answer-box">
			<div class="answer-box__select1">
				<%=form.label :answer, "#{@theme.answer1}",class:"check-label" %>
				<%=form.radio_button :answer, "answer1", class:"check-input" %>
			</div>
			<div class="answer-box__select2">
				<%=form.label :answer, "#{@theme.answer2}",class:"check-label" %>
				<%=form.radio_button :answer, "answer2", class:"check-input" %>
			</div>
		</div>
		<div class="submit-btn">
			<%=form.submit "回答する"%>
		</div>	
	<% end %>
	<div class="submit-btn">
			<%=link_to '回答を終了する', answers_path, method: :get %>
	</div>
</div>
