<div class="answer-head">
  回答の詳細
</div> 

<div class="theme-info">
  <div class="ID">
    <div class="ID__label">
      お題ID : 
    </div>
    <div class="ID__value">
      <%= @theme.id %>
    </div>
  </div>
  <div class="result-info">
  <div class="result-info__label">
    あなたの回答は
  </div>
  <div class="result-info__value">
    <% if (@your_ans_count.to_f / @answers_count) > 0.5 %>
      多数派です！
    <% elsif (@your_ans_count.to_f / @answers_count) < 0.5 %>
      少数派です！
    <% else %>
      どちらでもない：現在意見が分かれています！
    <% end %>
  </div>
</div>

  <div class="create-user">
    <div class="create-user__label">
      作成者 : 
    </div>
    <div class="create-user__value">
      <%= @theme.user_id %>
    </div>
  </div>
</div>

	<div class="theme-title">
			<div class="theme-title__info">
      	お題：
    	</div>
			<div class="theme-title__body">
      	<%= @theme.title %>
    	</div>
			<div class="theme-title__genre">
				<% if @theme.genre == 0 %>
					生活
				<% elsif @theme.genre == 1 %>
					教養・文化
				<% elsif @theme.genre == 2 %>
					仕事
				<% elsif @theme.genre == 3 %>
					恋愛・性
				<% elsif @theme.genre == 4 %>
					宗教
				<% elsif @theme.genre == 5 %>
					趣味・娯楽
				<%end%>
			</div>
      <div class="theme-image">
				<%= image_tag @theme.image.url %>
			</div>


<div class="answer-count">
    現在の回答数：
    <%= @answers_count %>
</div>




<div class="detail-breakdown">    
  <div class="detail-breakdown__answer1">
 
    <div class="breakdown-answer1">
      <%= @theme.answer1 %>
      <% if @answer.answer == "answer1"%>
        <div class="choose-message">
          your choice
        </div>
      <% end %>
    </div>
    <div class="breakdown-count">
      <% if @answer.answer == "answer1"%>
        <%= @your_ans_count %>人
      <% else %>
        <%= @answers_count - @your_ans_count %>人
      <% end %>
    </div>
  </div>
  
  <div class="detail-breakdown__answer2">

    <div class="breakdown-answer2">
      <%= @theme.answer2 %>
        <% if @answer.answer == "answer2"%>
          <div class="choose-message">
            your choice
          </div>
        <% end %>
    </div>
    <div class="breakdown-count">
        <% if @answer.answer == "answer2"%>
          <%= @your_ans_count %>人
        <% else %>
          <%= @answers_count - @your_ans_count %>人
        <% end %>
    </div>
  </div>
</div>

<div class="return-answer-page">
  <%= link_to '回答一覧へ戻る' , answers_path %></br>
  <%= link_to "答え直す", edit_answer_path(@answer.id) %>
</div>



